# Lab: 12 - Data Analysis with Pandas

## Cycle Share Data set(trip.csv)

## Abdullah Nazzal 25/10/2021

In [20]:
import pandas as pd
df_trip = pd.read_csv('../trip.csv',error_bad_lines=False)

/home/abdullah/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

In [21]:
print("What is the average trip duration for a borrowed bicycle?")
avg=df_trip['tripduration'].mean()
avg

What is the average trip duration for a borrowed bicycle?

1178.2956753399776

In [22]:
import datetime as datetime
print('What’s the most common age of a bicycle-sharer?')
common=df_trip['birthyear'].value_counts().idxmax()
age=datetime.datetime.now().year-int(common)
age

What’s the most common age of a bicycle-sharer?

34

In [23]:
print("Given all the weather data here, find the average precipitation per month, and the median precipitation.")
df_weather = pd.read_csv('../weather.csv',parse_dates=['Date'])
df_weather

Given all the weather data here, find the average precipitation per month, and the median precipitation.

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,2016-08-27,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,2016-08-28,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,2016-08-29,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,2016-08-30,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,2016-08-31,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

In [24]:
df_date=df_weather['Date']
df_weather['month']=pd.DatetimeIndex(df_date).month
df_weather['month']

0      10
1      10
2      10
3      10
4      10
       ..
684     8
685     8
686     8
687     8
688     8
Name: month, Length: 689, dtype: int64

In [25]:
weather=df_weather.groupby('month')['Precipitation_In']
weather_avg=weather.mean()
weather_avg

month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [26]:
print("What’s the average number of bikes at a given bike station?")
df_station=pd.read_csv('../station.csv')
avg_station=df_station['install_dockcount'].mean()
avg_station

What’s the average number of bikes at a given bike station?

17.586206896551722

In [27]:
print("When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?")
x=df_station[['modification_date','install_dockcount']].dropna()
y = x['install_dockcount'].sum() - df_station['install_dockcount'].sum()
y

When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

-722